---
import Layout from '../layouts/Layout.astro';
import {MainComponent} from "../components/MainComponent";
---

<Layout>
	<main class="flex h-screen ">
		<div class="max-w-4xl m-auto flex-grow flex flex-col gap-10 p-4">
			<h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold">Que serait Vitré si la ville était en bord de mer ?</h1>
			<MainComponent client:visible></MainComponent>
		</div>

	</main>
</Layout>
