<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- COMMON TAGS -->
		<meta charset="utf-8">
		<title>La blague de Vitré</title>
		<!-- Search Engine -->
		<meta name="description" content="Revivez l'indémodable blague de Vitré. Que vous soyez en famille ou avec des amis, n'oubliez pas ces quelques mots.">
		<meta name="image" content="https://la-blague-de-vitre.vercel.app/og.png">
		<!-- Schema.org for Google -->
		<meta itemprop="name" content="La blague de Vitré">
		<meta itemprop="description" content="Revivez l'indémodable blague de Vitré. Que vous soyez en famille ou avec des amis, n'oubliez pas ces quelques mots.">
		<meta itemprop="image" content="https://la-blague-de-vitre.vercel.app/og.png">
		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="La blague de Vitré">
		<meta name="twitter:description" content="Revivez l'indémodable blague de Vitré. Que vous soyez en famille ou avec des amis, n'oubliez pas ces quelques mots.">
		<meta name="twitter:image:src" content="https://la-blague-de-vitre.vercel.app/og.png">
		<!-- Open Graph general (Facebook, Pinterest & Google+) -->
		<meta name="og:title" content="La blague de Vitré">
		<meta name="og:description" content="Revivez l'indémodable blague de Vitré. Que vous soyez en famille ou avec des amis, n'oubliez pas ces quelques mots.">
		<meta name="og:image" content="https://la-blague-de-vitre.vercel.app/og.png">
		<meta name="og:url" content="https://la-blague-de-vitre.vercel.app">
		<meta name="og:site_name" content="La blague de Vitré">
		<meta name="og:locale" content="fr_FR">
		<meta name="og:type" content="website">
	</head>
	<body class="bg-[url('/mer.jpg')] bg-cover">
		<slot />
	</body>
</html>
